.venv/
data/
runs/
.idea/
__pycache__/
modelview.py
output_image.png
RoadSegNet.gv
RoadSegNet.gv.png
RoadSegNet.png
RoadSegNet.png.png
testinstall.py
evaluate_and_save.py
image.png
bad_evals/
analyze_parameters.py
gif_slides.py
